{{#partial "content"}}
    <div>
        <br> <br> <br> <br> <br> <br>
        <h1 style="text-align:center">Welcome to Wildlife Tracker</h1>

        <br><br>

        <p style="text-align:center; font-size:20px">Wide animals are really important for us. <br>The extinction of
            wildlife will have a
            major impact on humans as well.</p>
        <hr>

    </div>
    <br>   <br>   <br>


    <div>
        <h3 class="text-center">"Look deep into nature, and then <br>you will understand everything better."<br>
            "Just living is not enough.<br>One must have sunshine, freedom, and a little flower."<br>
            "Wherever you go, no matter what the weather, <br>always bring your own sunshine.</h3>

        <br><br><br><br>
    </div>


    <a href="/welcome" style="position:relative; left:40%;"><img src="images/arrow.jpg" alt="arrow" height="100"
                                                                 width="200"></a>
{{/partial}}

{{> layout.hbs}}
