{{#partial "content"}}
    <img src="https://www.prestige-carriages.co.uk/wordpress/wp-content/uploads/2018/05/check-4.gif" height=100 width=100 alt="">
    <h3>Successfully added!</h3>
    <a href="/">Continue</a>

{{/partial}}

{{> layout.hbs}}