{{#partial "content"}}
<div class="row">
    <div id="instruction" class="col-md-3"><br><br>
        <label> $category.getType() </label>
        <br>
        <form class="grow" action="/reports" method="post">
            <label><strong>Ranger Name</strong></label>
            <input type="text" name="rangername" class="form-control"><br>

            <input type="hidden" name="categoryId" class="form-control" value="$category.getId()">
            <input type="hidden" name="categoryId" class="form-control" value="$category.getId()">
            <input type="hidden" name="category" class="form-control" value="$category.getType()">

            <label><strong>Location</strong></label>
            <select class="form-control" name="zone">
                <option value="Zone A">Zone A</option>
                <option value="Zone B">Zone B</option>
                <option value="Zone C">Zone C</option>
            </select><br>

            <label><strong>Name of Animal</strong></label>
            <input type="text" name="name" class="form-control"><br>

            <label><strong>Health</strong></label>
            <select class="form-control" name="health">
                <option value="healthy">healthy</option>
                <option value="okay">okay</option>
                <option value="ill">ill</option>
            </select><br>

            <label><strong>Age</strong></label>
            <select class="form-control" name="age">
                <option value="New Born">New Born</option>
                <option value="Young">Young</option>
                <option value="Adult">Adult</option>
            </select><br>

            <label>Number of animals sighted</label>
            <input type="number" name="count" id="count" class="form-control"><br>
            <button type="submit" class="btn btn-info">Add Animal</button>
        </form>
    </div>
</div>
{{/partial}}

{{> layout.hbs}}