{{#partial "content"}}

<div class=" container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>

        <div class="col-sm-4" id="center">


            <div id="pic" class="img-responsive">

                <img src="https://images.template.net/wp-content/uploads/2016/11/16123609/Baby-Panda-Gif-Design.gif" style="border-radius:20%; align-items:center;" height="200" width="200">
            </div>


            <form action="/animal/new" method="post" name="test">
                <div class="form-group">
                    <label for="nameOfAnimal"> Animal Name  </label>
                        <input class="form-control" id="animalName" name="animalName" placeholder="Animal Name" type="text" tabindex="1" >

                </div>
                <div class="form-group">
                    <label for="nameOfAnimal">Is animal endangered?
                    <input type="checkbox" name="endangered">
                    </label>
                </div>
                <div class="form">
                    <label for="health">Health</label>
                        <select name="health" class="form-control">
                            <option>Ill</option>
                            <option>Okay</option>
                            <option>Healthy</option>
                        </select>

                </div>

                <div class="form">
                    <label for="age">Age   </label>
                        <select name="age" class="form-control">
                            <option>Newborn</option>
                            <option>Young</option>
                            <option>Adult</option>
                        </select>

                </div>

                <div class="form">
                    <label for="rangerName">Ranger's Name:  </label>
                        <input class=" form-control" id="rangerName" name="rangerName" type="text" >

                </div>

                <div class="form">
                    <label for="location">Location   </label>
                        <select name="location" class="form-control">
                            <option></option>
                            <option>Zone A</option>
                            <option>Zone B</option>
                            <option>Zone C</option>
                        </select>

                </div>

                <button type="submit" class="btn btn-success">Add Animal</button>
                <br>
            </form>
        </div>


    </div>

</div>
{{/partial}}

{{> layout.hbs}}




