{{#partial "content"}}

    <div  class="col-md-9">
        <div class="nav">
            <navbar><a class="cc" href="/">Home</a></navbar>
            <navbar><a class="cc" href="/category/25">Endangered Animals</a></navbar>
            <navbar><a class="cc" href="/category/26">Non-Endangered Animals</a></navbar>
        </div><br>
        <table class="table table-hover table-stripped table-bordered table-sm animated rubberBand " cellspacing="0">
            <thread>
                <tr>
                    <th class="th-sm">Ranger Name</th>
                    <th class="th-sm">Animal</th>
                    <th class="th-sm"> Location</th>
                    <th class="th-sm">Health</th>
                    <th class="th-sm">Age</th>
                    <th class="th-sm"> Time </th>
                    <th class="th-sm">Number of Animals</th>


            </tr>
            </thread>
                    <thread>
                        <tbody>
                        #foreach($report in $reports)
                        <tr>

                            <td> <a href="/report/$report.getId()" title="click $report.getRangerName() to  view the whole report"> $report.getRangerName() </a></td>
                            <td> $report.getName()</td>
                            <td> $report.getZone() </td>
                            <td> $report.getHealth() </td>
                            <td> $report.getAge() </td>
                            <td class="time"> $report.getTime() </td>
                            <td> $report.getAnimalCount() </td>

                        </tr>
                        #end
                        </tbody>
                    </thread>
        </table>
        <br>
        <br>
        #if($reports)

        <form action="/animal/check" method="post">

            #foreach($report in $reports)
            <input type="hidden" name="id" class="form-control" value="$report.getId()">
            #end
            <!-- <button type="submit">Delete</button> -->
            #else

            <p> Add an Animal</p>
            #end
        </form>


            </div>

</div>
{{/partial}}

{{> layout.hbs}}