{{#partial "content"}}
    <div>
        <h1 style="text-align:center">Welcome to Wildlife Tracker</h1>
        <p style="text-align:center">Adopt an <b>Animal</b>. Give a gift that will help protect the future of nature.
        </p>
        <br><br>

        <p style="text-align:center; font-size:20px">Wide animals are really important for us. The extinction of wildlife will have a
            major impact on humans as well.</p>
        <hr>

    </div>
    <br>   <br>   <br>
<h3 class="text-center">"Look deep into nature, and then you will understand everything better."<br>
    "Just living is not enough.One must have sunshine, freedom, and a little flower."<br>
    "Wherever you go, no matter what the weather, always bring your own sunshine.</h3>


{{/partial}}

{{> layout.hbs}}