{{#partial "content"}}
<div>
    <h1 style="text-align:center">Welcome to Wildlife Tracker</h1>
    <img class="image" src="/images/trail.jpg" alt="Forest with trail">
    <hr>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3 style="text-align:center"><a href="/animal/new">Add Animal</a></h3>
    </div>
    <div class="col-sm-4">
        <h3 style="text-align:center"><a href="/animals">View Animals</a></h3>
    </div>
    <div class="col-sm-4">
        <h3 style="text-align:center"><a href="/sighting">Post Animal Sighting</a></h3>
    </div>
</div>
<hr>
{{/partial}}

{{> layout.hbs}}