{{#partial "content"}}
    <div class="text-center">
    <img src="https://www.prestige-carriages.co.uk/wordpress/wp-content/uploads/2018/05/check-4.gif" height=300 width=300 alt="" >
    </div>
    <h1 class="text-center">Welcome to the Sighting Post</h1>
    <br> <br> <br> <br> <br> <br>
    <div class="text-center">
    <a href="/animals" class="text-center"><button class="btn btn-primary btn-lg active">View Posts</button></a>
    </div>
{{/partial}}

{{> layout.hbs}}